<center>
<div class="container">
    <div class='col-md-6 col-md-offset-3' >
        <div class="form">

      		<h1>Log in</h1>
            
            <%= form_for(:session, url: login_path) do |f| %> 
              <%= f.email_field :email, :placeholder => "Email" %> <br>
              <%= f.password_field :password, :placeholder => "Password" %> <br>
              <%= f.submit "Log in", class: "btn-submit" %> <br>
            <% end %>
        
    	</div>
					
	<div class="etc-login-form">
		<p>new user? <a href="/signup">create new account</a></p>
	</div>

</div>
</div>
</center>
