<center>
<div class="container">
    <div class='col-md-4 col-md-offset-4' >
        <div class="form" style='max-width: 300px;'>
      		<h1>Log in</h1>

            <%= form_for(:session, url: login_path) do |f| %> 
              <%= f.email_field :email, :placeholder => "Email", class: "form-control"%> <br>
              <%= f.password_field :password, :placeholder => "Password", class: "form-control" %> <br>
              <%= f.submit "Submit", class: "btn btn-submit" %> <br>
            <% end %>
    	</div>
					
	<div class="etc-login-form">
		<p>new user? <a href="/signup">create new account</a></p>
	</div>

</div>
</div>
</center>
