<!-- LOGIN FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">login</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<%= form_for :session do |f| %>
						<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email", id:"lg_username", name:"lg_username" %>

						<%= f.password_field :password, class: "form-control", placeholder: "Password", id: "lg_password", name: "lg_password" %>
						<%= f.submit ">", class: "btn btn-default login-button" %>
						<% end %>
					
					</div>

						
			<div class="etc-login-form">
				<p>new user? <a href="/signup">create new account</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
