<!-- Placed outside of .container, will make it screen width, you can place inside .row -->
<div class="jumbotron">
	<div class="container">
	</div><!-- /.container -->
</div>

<!-- start main content -->

<!-- end main content -->

